@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
}

body{
    width: 100%;
}
#nav {
    position: absolute;
    font-size: 24px;
    color: #fff;
    margin:auto;
    background-color: transparent;
    padding: 5px;
    height: 9vh;
    width: 98vw;
    top: 0;
    border-color: #000;
    text-align: center;
}

#nav ul {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0px;
    margin: 0 auto;
}
#nav ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    display: inline-block;
}
#nav ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: 0.5vh 1vw;
    margin: 0px;
}
.menu:hover {
    color: #141722;
    cursor: pointer;
    border-bottom: 1px solid black;
    margin: -1vh 0;
    padding: -1vh 0;
}

#logoutButton{
    width: 10vw;
    height: 4.5vh;
    padding: 0 10px 0 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background: #267b7f;
    color: #fefdfd;
    border-color: #005a14;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px 40px 40px 40px;
    font-weight: bold;
    font-size: 2.4vh;
    outline: none;
}

#logoutButton:hover{
    cursor: pointer;
    background: #2f74d7;
}

#logoutForm{
    border: none #FFFFFF;
}

#timer{
    margin-left: 2vw;
    color: #000000;
}

#rectangle{
    width: 98vw;
    position: absolute;
    top: 10vh;
    margin: auto;
    text-align: center;
}

ol{
    text-decoration: none;
    list-style-type: none;
}

.editDelete{
    color: #000;
    font-size: 2vh;
    padding: 0 0.5vw 0 0.5vw;
}