<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Add Category</title>
  <link th:href="@{/css/newCategory.css}" rel="stylesheet" />
  <link rel="icon" href="wIcon.png" type="image/icon type">
  <a href="https://www.flaticon.com/free-icons/paper" title="paper icons"></a>
</head>
<body>

<div id="nav">
  <ul>
    <li class="menu"><a th:href="@{/Logged/Notes/GetToDisplayingNotes}">Display Notes</a></li>
    <li class="menu"><a th:href="@{/Logged/Notes/GetToAddingNewNote}">Add Note</a></li>
    <li class="menu"><a th:href="@{/Logged/Categories/GetToDisplayingCategories}">Display Categories</a></li>
    <li class="menu"><a th:href="@{/Logged/Categories/AddCategory}">Add Category</a></li>
    <li class="menu"><a th:href="@{/Logged/Notes/ShowSharedNotes}" >Shared Notes</a></li>
    <li class="menu"><a sec:authorize="hasAuthority('admin')" th:href="@{/Logged/AdminPanel}">Admin Panel</a></li>
    <li id="logoutForm">
      <form th:action="@{/logout}" method="post">
        <button type="submit" id="logoutButton">Logout</button>
      </form>
    </li>
    <li id="timer">5:00</li>
  </ul>
</div>

<form th:object="${category}" th:action="@{/Logged/Categories/AddCategory}" method="post">
  <div id = "rectangle">

    <h1 id="addCategoryText">Add New Category</h1>

    <div id="categoryData">
      <div class="form-group">
        <label for="categoryName">Category Name</label><br>
        <input type="text" id="categoryName" class="form-control" th:field="*{categoryName}" placeholder="Category Name" required/><br>
        <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></span>
        <br><p th:text="${errorMessage}"></p>
      </div>

      <button type="submit" id="addCategory">Add Category</button>
    </div>
  </div>
</form>

<div id="rectangle2">
  <div id="link">
    <a class="imgLink" href="https://www.freepik.com/free-vector/add-notes-concept-illustration_8887086.htm#query=notes%20illustration&position=22&from_view=search&track=ais">Image by storyset on Freepik</a>
  </div>
</div>

<script>
  function startTimer() {
    var duration = 5 * 60; // Czas w sekundach (30 minut * 60 sekund)
    var display = document.getElementById("timer");

    var timer = setInterval(function () {
      var minutes = parseInt(duration / 60, 10);
      var seconds = parseInt(duration % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = minutes + ":" + seconds;

      if (--duration < 0) {
        clearInterval(timer);
        display.textContent = "Minutnik zakończony";
      }
    }, 1000); // Odliczanie co 1 sekundę (1000 milisekund)
  }

  startTimer();
</script>

</body>
</html>
